---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div id="comslider_in_point_2126796"></div><script type="text/javascript">var oCOMScript2126796=document.createElement('script');oCOMScript2126796.src="https://commondatastorage.googleapis.com/comslider/target/users/1599408071x4af59b138795de3344357bac597d25ce/comslider.js?timestamp=1599408740&ct="+Date.now();oCOMScript2126796.type='text/javascript';document.getElementsByTagName("head").item(0).appendChild(oCOMScript2126796);</script>

  {{ content }}

  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul> -->

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
